html {
	font-size: 16px;
}

body {
	align-items: center;
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
	/* width: 100%; */
}

.container{
	align-items: center;
	display: flex;
	/* I had column wrap, compared to solution code's row wrap! hmm... */
	flex-flow: row wrap;
	justify-content: center;
	/* margin: 0 auto; */
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 1.875em;
}
h2 {
  font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	/* height: 110px; */
	border-bottom: 3px solid #77a466;
	display: flex;
	/* Again I had column wrap instead of row! */
	flex-flow: row wrap;
	justify-content: center;
	/* Why did I think I needed margin 0 auto?? I think I was having trouble centering and was looking for a fix. */
	/* margin: 0 auto; */
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	text-align: center;
	width: 100%;
	/* padding: 38px 0; */
	padding: 1.875em 0 0.625em 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	/* display: flex; */
	padding: 1.25em 0;
	width: 100%;
}
header nav ul {
	/* display: flex; */
	/* justify-content: space-between; */
	margin: 0;
	padding: 0;
	/* flex-flow: column wrap; */
}
header nav ul li {
	align-items: center;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
	/* flex-flow: column wrap; */
	padding: 0.625em 0 0.625em 0;
	/* width: 100%; */

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	justify-content: center;
	/* Again with the column! */
	flex-flow: row wrap;
	/* Again with the margin 0 auto! */
	/* margin: 0 auto; */
	/* width: 100%; */
}

.main-image {
	height: auto;
	/* float: left; */
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	/* float: left; */
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	/* padding: 0; */
	font-size: 1em;
	line-height: 1.563em;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.section-one h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.313em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/***** BREAKPOINTS *****/

@media all and (min-width: 768px) {
		.bottom-section {
			/* Already in flex since parent element is already in flexbox */
			/* display: flex; */
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: space-between;
		}

		.section-one {
			display: flex;
			flex-direction: column;
			/* height: auto; */
			width: 100%;
		}

		.section-two {
			display: flex;
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			flex-direction: column;
			padding: 10px 30px;
			width: 100%;
		}

		.section-three {
			display: flex;
			flex-direction: column;
			padding: 10px 30px;
			/* height: auto; */
			width:100%;
		}

}

@media all and (min-width: 1200px) {

		header {
			/* Flexbox is already turned on above so no need to turn it on again here */
			/* display: flex; */
			flex-flow: row nowrap;
			justify-content: space-between;
			padding: 4em 0 2em 0;
			/* width: 1200px; */
		}

		header h1 {
			/* display: flex; */
			/* Or could do text-align: left as it's not going to be affected by needing to flex */
			border-bottom: none;
			padding: 0;
			text-align: left;
			width: 30%
			/* width: 600px; */
		}

header nav {
			width: 45%;
}

		header nav ul {
			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			padding: 0;
			width: 100%;
		}

}
